.reportsSection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  margin: 100px 0 400px 0;
  padding: 2.5rem 3.75rem;
  position: relative;
}

.reportsQuotes {
  position: absolute;
  left: 1.8%;
  top: 1%;
}

/* MOBILE */

@media (max-width: 600px) {
  .reportsSection {
    flex-wrap: wrap;
    padding: 15px;
  }

  .reportsQuotes {
    left: 1%;
    top: -3%;
  }
}
