:root {
  --darkBlueIntroAndEmail: #1c2431;
  --darkBluemainBackground: #181f2a;
  --darkBluefooterBackground: #0b1523;
  --darkBlueTestimonialsBackground: #202a3c;
  --cyanGradient: #65e2d9;
  --blueGradient: #339ecc;
  --lightRed: #ff4242;
  --white: #ffffff;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: var(--darkBluemainBackground);
  background: linear-gradient(
    to top,
    var(--darkBluemainBackground) 0,
    var(--darkBluefooterBackground) 45%,
    var(--blueGradient) 100%
  );
  color: var(--white);
}

a {
  color: var(--white);
  text-decoration: none;
  transition: 0.4s;
}

::-webkit-scrollbar {
  width: 0.3125rem;
}

::-webkit-scrollbar-track {
  background-color: var(--darkBlueTestimonialsBackground);
}

::-webkit-scrollbar-thumb {
  background-color: var(--white);
  border-radius: 3.125rem;
}

/* MOBILE */

@media (max-width: 600px) {
  section {
    padding: 0.9375rem;
  }
}
